<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Signal binding</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-title>{{ parentTitle() }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon
      size="large"
      [color]="checkmark() ? 'success' : 'danger'"
      [name]="checkmark() ? 'checkmark-circle-outline' : 'close-circle-outline'"
    ></ion-icon>
    <app-signal-child [(title)]="parentTitle" [(readOnlyInput)]="checkmark" />
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/previous"> Go back </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
